/*

	DASHBOARD LOGGING
	
*/


#extension-dashboard-logging-menu-item{
	background-image: url(/images/logs-icon.svg);
}

#extension-dashboard-content.extension-dashboard-show-logging #extension-dashboard-content-container,
#extension-dashboard-content:not(.extension-dashboard-show-logging) #extension-dashboard-logging-content{
	display:none;
}

#extension-dashboard-logging-content .title-bar{
	text-align: center;
    line-height: 9.6rem;
    height: 9.6rem;
}

#extension-dashboard-logging-content h3.logs-header{
	font-weight: normal;
	color:white;
}
	    


#extension-dashboard-logging-content{
	height:100%;
	width:100%;
}
#extension-dashboard-logging-content svg{
	width:100%;
	max-width:100%;
	filter: blur(1.5rem);
	transition-delay:2s;
	transition:all 1s ease;
}

.extension-dashboard-logging-log-property-container.extension-dashboard-show-widget-log-settings .extension-dashboard-widget-log-svg-container.extension-dashboard-show-svg-grid-lines{
    background-image: repeating-linear-gradient(#fff 0 1px, rgba(0,0,0,0) 1px 100%); /*, repeating-linear-gradient(90deg, #fff 0 1px, transparent 1px 100%);*/
    background-size: 100px 100px;
    background-position: 0 calc(100% - 30px);
}


#extension-dashboard-logging-content .extension-dashboard-logging-log-property-container.extension-dashboard-logging-unblur svg{
	filter: blur(0);
}
#extension-dashboard-logging-content .extension-dashboard-logging-log-property-container.extension-dashboard-logging-unblur .extension-dashboard-logging-property-privacy-button{
	background-image: url(../images/privacy-icon-open.svg);
}
#extension-dashboard-logging-content .extension-dashboard-logging-log-property-container.extension-dashboard-logging-unblur .extension-dashboard-logging-property-privacy-button:hover{
	background-image: url(../images/privacy-icon.svg);
}


#extension-dashboard-logging-content-container{
	margin-bottom:10rem;
}


.extension-dashboard-logging-log-thing-container{
	border-radius:1rem;
	background-color:rgba(255,255,255,.6);
	padding:1.5rem;
	margin:3rem 0;
}

.extension-dashboard-logging-log-property-container{
	min-height:300px;
	width:100%;
	position:relative;
	border-radius:1rem;
	padding:1.5rem;
	background-color:rgba(255,255,255,.4);
	margin:.5rem 0;
	box-sizing:border-box;
}

.extension-dashboard-logging-log-property-container h4{
	margin-top:.5rem;
}
.extension-dashboard-logging-log-property-container h4:first-letter {
    text-transform: uppercase;
}



.extension-dashboard-logging-privacy-container{
	position:absolute;
	top:0;
	right:0;
	display:flex;
	align-items:center;
}

.extension-dashboard-logging-last-viewed-time{
	margin-right:1rem;
	font-style:italic;
}

.extension-dashboard-logging-property-privacy-button{
	width:50px;
	height:50px;
	background-image: url(../images/privacy-icon.svg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 70%;
	margin:1rem;
	border-radius:1rem;
	background-color:#7caed1;
	cursor:pointer;
}
.extension-dashboard-logging-property-privacy-button:hover{
	background-image: url(../images/privacy-icon-open.svg);
}


.extension-dashboard-widget-log-settings-container{
	margin:1.5rem 0;
	
}


.extension-dashboard-widget-log-settings{
	padding:1.5rem;
	background-color:rgba(0,0,0,.1);
	border-radius:1rem;
}

.extension-dashboard-widget-log-settings-container{
	max-height:0;
	overflow:hidden;
	transition: max-height 1s ease-out;
}

.extension-dashboard-show-widget-log-settings .extension-dashboard-widget-log-settings-container{
	max-height:60vh;
	transition: max-height 1s ease-out;
}



#extension-dashboard-view .extension-dashboard-widget-log-masking-settings input{
	max-width:150px;
	padding:1rem;
	font-size:1.6rem;
	margin:.5rem 1rem;
}

#extension-dashboard-view .extension-dashboard-widget-log-masking-settings select{
	margin: auto 1rem auto 0;
	padding:1rem;
	border-radius:1rem;
	font-size: 1.6rem;
}


.extension-dashboard-logging-svg-drag-line1,
.extension-dashboard-logging-svg-drag-line2{
	fill:var(--extension-dashboard-widget-editable-text-color);
	opacity:.6;
}


.extension-dashboard-logging-svg-drag-line1{
	/*clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 86%, 24% 86%, 24% 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 86%, 4% 86%, 4% 0);*/
	clip-path: polygon(0 0, 100% 0, 100% 8%, 58% 8%, 58% 100%, 53% 100%, 53% 8%, 0 8%);
}

.extension-dashboard-logging-svg-drag-line2{
	clip-path: polygon(0 0, 100% 0, 100% 8%, 50% 8%, 50% 100%, 45% 100%, 45% 8%, 0 8%);
}


/*
.extension-dashboard-logging-svg-drag-line1::after{
	content:"x";
	width:30px;
	height:30px;
	position:relative;
	right:-30px;
	background-color:red;
}
*/


.extension-dashboard-logging-log-property-container.extension-dashboard-show-widget-log-settings .extension-dashboard-log-tooltip-data-container,
.extension-dashboard-logging-log-property-container:not(.extension-dashboard-show-widget-log-settings) .extension-dashboard-logging-svg-drag-line1,
.extension-dashboard-logging-log-property-container:not(.extension-dashboard-show-widget-log-settings) .extension-dashboard-logging-svg-drag-line2,
.extension-dashboard-logging-privacy-settings-hide-above-input .extension-dashboard-logging-svg-drag-line1,
.extension-dashboard-logging-privacy-settings-hide-below-input .extension-dashboard-logging-svg-drag-line2,
.extension-dashboard-logging-privacy-settings-hide-above-input .extension-dashboard-logging-privacy-settings-above-input,
.extension-dashboard-logging-privacy-settings-hide-below-input .extension-dashboard-logging-privacy-settings-below-input{
	display:none;
}



/*  TEMPORAL SETTINGS  */

.extension-dashboard-logging-temporal-limit-line{
	display:none;
}
.extension-dashboard-show-widget-log-settings .extension-dashboard-logging-temporal-limit-line{
	display:initial;
}

.extension-dashboard-widget-log-temporal-settings{
	margin:2rem 0;
}

.extension-dashboard-widget-log-temporal-settings > div{
	margin:1rem 0;
	align-items:center;
}

#extension-dashboard-view .extension-dashboard-widget-log-temporal-settings input{
	margin-left:1rem;
	max-width:6rem;
	text-align:center;
	padding:1rem;
	font-size:1.6rem;
}

#extension-dashboard-view input.extension-dashboard-widget-log-temporal-settings-recent-input{
	border-left:3px solid orange;
}
#extension-dashboard-view input.extension-dashboard-widget-log-temporal-settings-ancient-input{
	border-left:3px solid purple;
}

#extension-dashboard-view .extension-dashboard-widget-log-temporal-settings select{
	margin-right:1rem;
	padding:1rem;
	font-size:1.6rem;
}




/*  PRECISION SETTING  */

.extension-dashboard-widget-log-precision-settings{
	max-width:70rem;
}

.extension-dashboard-widget-log-precision-settings h3{
	margin-top:3rem;
	margin-bottom:1rem;
}

.extension-dashboard-logging-settings-precision-preset-buttons-container{
	max-width:60%;
}

.extension-dashboard-logging-settings-precision-preset-buttons-container > li{
	background-color:rgba(255,255,255,.3);
	border-radius:1.5rem;
	padding:.5rem 1rem;
	cursor:pointer;
}

input[type='number'].extension-dashboard-logging-log-precision-slider-value-input{
	text-align:center;
	margin-left:1rem;
	max-width:8rem;
	border-radius:2rem;
	padding:1rem 1.5rem;
}


.extension-dashboard-logging-settings-help{
	font-size:80%;
	font-style:italic;
	margin:4rem 0 1rem 0;
	padding:0 3rem;
	position:relative;
	display: flex;
	align-items: center;
}

.extension-dashboard-logging-settings-help:not(:empty):before{
	content:"ⓘ";
	font-style:initial;
	position:absolute;
	left:0;
	/*top: -0.2rem;*/
	font-weight:bold;
	font-size: 2rem;
}
