



/*   SIMPLE SIMPLER SIMPLIFIED MANIPULATION TAGS   */


.extension-dashboard-flex {
    display: flex;
}

.extension-dashboard-flex-column{
	display:flex;
	flex-direction:column;
	max-height:100%;
}

.extension-dashboard-flex-wrap {
	display: flex;
    flex-wrap: wrap;
}

.extension-dashboard-flex-center{
	display: flex;
	justify-content:center;
	align-items:center;
}

.extension-dashboard-grid-center{
	display: grid;
	place-items: center;
}

.extension-dashboard-flex-between{
	display:flex;
	justify-content:space-between;
}

.extension-dashboard-flex-end {
    align-items: flex-end;
}

.extension-dashboard-widget-split-compact{
	display:flex;
	flex-direction:column;
}

.extension-dashboard-flex-row{
	display:flex;
	flex-direction:row;
}

.extension-dashboard-flex-grow,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-h]) .extension-dashboard-widget-flex-grow-if-short,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w]) .extension-dashboard-widget-flex-grow-if-thin,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w]:not([gs-h]) .extension-dashboard-flex-grow-if-not-thin,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h]:not([gs-w]) .extension-dashboard-flex-grow-if-not-short{
	flex-grow:1;
}

.extension-dashboard-flex-grow10{
	flex-grow:10!important;
	display: flex;
}

.extension-dashboard-flex-grow100{
	flex-grow:100!important;
}



.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="2"]:not([gs-h="2"]) .extension-dashboard-widget-show-if-square,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="3"]:not([gs-h="3"]) .extension-dashboard-widget-show-if-square,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="4"]:not([gs-h="4"]) .extension-dashboard-widget-show-if-square,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="2"]:not([gs-w="2"]) .extension-dashboard-widget-show-if-square,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="3"]:not([gs-w="3"]) .extension-dashboard-widget-show-if-square,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="4"]:not([gs-w="4"]) .extension-dashboard-widget-show-if-square,

.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w]):not([gs-h]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="2"]:not([gs-h]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="3"]:not([gs-h]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="4"]:not([gs-h]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="5"]:not([gs-h]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="2"]:not([gs-w]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="3"]:not([gs-w]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="4"]:not([gs-w]) .extension-dashboard-widget-show-if-at-least-2x2,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="5"]:not([gs-w]) .extension-dashboard-widget-show-if-at-least-2x2,

.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="2"]:not([gs-h="3"]):not([gs-h="4"]):not([gs-w]) .extension-dashboard-widget-hide-if-2x1,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-h="2"]:not([gs-h="3"]):not([gs-h="4"]):not([gs-w]) .extension-dashboard-hide-if-1x2,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-h="3"]):not([gs-h="4"]):not([gs-w]) .extension-dashboard-hide-if-1x1-or-1x2,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w="3"]):not([gs-w="4"]):not([gs-h]) .extension-dashboard-widget-hide-if-1x1-or-2x1,
.grid-stack-item:not(.grid-stack-sub-grid)[gs-w="2"][gs-h="2"] .extension-dashboard-widget-hide-if-2x2,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w]):not([gs-h]) .extension-dashboard-widget-hide-if-1x1,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-h]) .extension-dashboard-widget-hide-if-short,
.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w]) .extension-dashboard-widget-hide-if-thin{
	display:none!important;
}

.grid-stack-item:not(.grid-stack-sub-grid):not([gs-w]):not([gs-h]) .extension-dashboard-widget-smaller-font-on-1x1{
	font-size:80%;
}



#extension-dashboard-content .grid-stack-item:not(.grid-stack-sub-grid)[gs-h="3"]:not([gs-w]) .extension-dashboard-widget-allow-vertical-slider-if-thin-above-h2,
#extension-dashboard-content .grid-stack-item:not(.grid-stack-sub-grid)[gs-h="4"]:not([gs-w]) .extension-dashboard-widget-allow-vertical-slider-if-thin-above-h2,
#extension-dashboard-content .grid-stack-item:not(.grid-stack-sub-grid)[gs-h]:not([gs-w]) .extension-dashboard-widget-allow-vertical-slider-if-thin{
	flex-direction:column;
}


#extension-dashboard-content .extension-dashboard-widget-dont-grow,
#extension-dashboard-content .grid-stack-item:not(.grid-stack-sub-grid)[gs-h]:not([gs-w]) .extension-dashboard-widget-dont-grow-if-thin{
	flex-basis:auto;
	flex-grow:0;
}


.extension-dashboard-widget-style-minheight30{
	min-height: 30%;
}
.extension-dashboard-widget-style-minheight40{
	min-height: 40%;
}
.extension-dashboard-widget-style-minheight50{
	min-height: 50%;
}
.extension-dashboard-widget-style-minheight60{
	min-height: 60%;
}















/*  COPY TO CLIPBOARD  */

.extension-dashboard-click-to-copy-to-clipboard{
	cursor:pointer;
    background: linear-gradient(-45deg, rgba(0,0,0,0) 40%, rgba(128,128,128,0) 50%, rgba(0,0,0,0) 60%);
    background-size: 300%;
    background-position-x: 100%;
	transition: background .2s ease-out;
	user-select:initial!important;
}

.extension-dashboard-click-to-copy-to-clipboard:active{
    background: linear-gradient(-45deg, rgba(0,0,0,0) 40%, rgba(128,128,128,.15) 50%, rgba(0,0,0,0) 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: extensionDashboardCopyShimmer .1s infinite linear;
}

.extension-dashboard-click-to-copy-to-clipboard:hover{
    background: linear-gradient(-45deg, rgba(0,0,0,0) 40%, rgba(128,128,128,.15) 50%, rgba(0,0,0,0) 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: extensionDashboardCopyShimmer 1s infinite linear;
}
.extension-dashboard-click-to-copy-to-clipboard::after{
	content:"Copy";
	font-size:1.6rem;
	position:absolute;
	top:calc(50% - 30px);
	left:calc(50% - 60px);
	background-color:rgba(189,200,210,0);
	padding:.2rem;
	border-radius:.5rem;
	opacity:0;
	pointer-events:none;
	color:white;
	width:60px;
	height:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	transition:background .1s linear;
}

.extension-dashboard-click-to-copy-to-clipboard:hover::after{
	background-color:rgba(125,175,210,1);
	top:calc(50% - 30px);
	left:calc(50% - 60px);
	width:70px;
	height:30px;
	opacity:1;
}

.extension-dashboard-click-to-copy-to-clipboard.extension-dashboard-click-to-copy-to-clipboard-done::after{
	content:'Copied';
	background-color:rgba(0,128,0,1);
	border-radius:.5rem;
	width:80px;
	height:30px;
	left:calc(50% - 65px);
	font-size:2rem;
	opacity:1;
}

.extension-dashboard-click-to-copy-to-clipboard.extension-dashboard-click-to-copy-to-clipboard-failed::after{
	content:'No text?';
	white-space:nowrap;
	background-color:rgba(128,0,0,1);
	border-radius:.5rem;
	width:80px;
	height:30px;
	left:calc(50% - 65px);
	font-size:2rem;
	opacity:1;
}


@keyframes extensionDashboardCopyShimmer {
   to {
      background-position-x: 0%
   }
}











/*  WIDELY APPLIED STYLES AND FIXES  */
.extension-dashboard-widget-media-player-info > *,
.extension-dashboard-widget-name-needs-rename,
.extension-dashboard-list-selector-item{
	overflow-wrap: break-word;
}

