<div id="extension-dashboard-content">
    
    <div id="extension-dashboard-content-container">
		
		
		<dialog id="extension-dashboard-widget-modal">
			<div class="extension-dashboard-flex-column">
				<h2 id="extension-dashboard-widget-modal-title"></h2>
			
				<div id="extension-dashboard-widget-modal-content">
				
					<div id="extension-dashboard-templates">
				
				
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="property-switch" class="extension-dashboard-template extension-dashboard-widget-property-switch">
						        <input type="checkbox" name="extension-dashboard-widget-changeme" id="extension-dashboard-widget-changeme" class="extension-dashboard-widget-switch_state-needs-update extension-dashboard-hidden-widget-checkbox extension-dashboard-hidden">
						        <label for="extension-dashboard-widget-changeme">
									<span class="extension-dashboard-widget-thing-icon-container extension-dashboard-widget-icon-needs-icon">
										<img src="/extensions/dashboard/icons/material_light_icons/wall-lamp-outline.svg" class="extension-dashboard-widget-remove-me" alt="Lamp icon" style="width: 100%;margin-top: 5rem;">
									</span>
									<strong class="extension-dashboard-widget-thing_title-needs-rename">Switch widget</strong>
									<!--<span data-o="opened" data-c="closed"></span>-->
									<small></small>
						        </label>
							</div>
						</div>
				
				
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="property-slider" class="extension-dashboard-template extension-dashboard-widget-property-slider">
						
								<div class="extension-dashboard-widget-split-compact">
							
									<div>
								        <input type="checkbox" name="extension-dashboard-widget-changeme" id="extension-dashboard-widget-changeme" class="extension-dashboard-widget-switch_state-needs-update extension-dashboard-hidden">
								        <label for="extension-dashboard-widget-changeme">
											<strong class="extension-dashboard-widget-thing_title-needs-rename">Switch slider widget</strong>
											<small></small>
										</label>
									</div>
							
									<div class="extension-dashboard-widget-slider-container extension-dashboard-flex-center extension-dashboard-flex-grow">
										<div class="extension-dashboard-flex-center">
											<input type="range" class="extension-dashboard-widget-percentage-needs-update" step="1" min="0" max="100">
										</div>
									</div>
							
								</div>
						
							</div>
						</div>
					
					
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="property-color" class="extension-dashboard-template extension-dashboard-widget-property-color">
						
								<div class="extension-dashboard-widget-split-compact">
							
									<div class="extension-dashboard-widget-title-container">
								        <input type="checkbox" name="extension-dashboard-widget-changeme" id="extension-dashboard-widget-changeme" class="extension-dashboard-widget-title-container extension-dashboard-widget-switch_state-needs-update extension-dashboard-hidden">
								        <label for="extension-dashboard-widget-changeme">
											<strong class="extension-dashboard-widget-thing_title-needs-rename">Color light widget</strong>
											<small></small>
										</label>
									</div>
								
									<div class="extension-dashboard-widget-color-container extension-dashboard-flex-center">
										<input type="color" class="extension-dashboard-widget-color-needs-update">
										<img src="/extensions/dashboard/images/color_wheel.png" class="extension-dashboard-widget-remove-me" alt="color picker">
									</div>
								
									<div class="extension-dashboard-widget-slider-container extension-dashboard-flex-center extension-dashboard-flex-grow">
										<div class="extension-dashboard-flex-center">
											<input type="range" class="extension-dashboard-widget-percentage-needs-update" step="1" min="0" max="100">
										</div>
									</div>
							
								</div>
						
							</div>
						</div>
					
					
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="log" class="extension-dashboard-template extension-dashboard-widget-log extension-dashboard-flex-column">
						        <strong class="extension-dashboard-widget-log_title-needs-rename">Log title</strong>
								<div class="extension-dashboard-widget-log_source-needs-log extension-dashboard-flex-center extension-dashboard-flex-column extension-dashboard-flex-grow">
									<img src="/extensions/dashboard/images/log_example.svg" class="extension-dashboard-widget-remove-me" alt="example log visualisation">
								</div>
							</div>
						</div>
					
				
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="weather" class="extension-dashboard-template extension-dashboard-widget-weather">
					          	<div class="extension-dashboard-widget-split">
									<div>
										<div class="extension-dashboard-widget-weather-description-container extension-dashboard-flex extension-dashboard-flex-end">
				  					      <div class="extension-dashboard-icon extension-dashboard-widget-icon-weather"></div>
				  					      <div class="extension-dashboard-widget-heading">
				  					        <!--<h5 class="extension-dashboard-date">1 Feb 2019</h5>-->
				  					        <h2 class="extension-dashboard-widget-weather_description-needs-update">Weather widget</h2>
				  					      </div>
									    </div>
									</div>
									<div>
									    <div class="extension-dashboard-flex-wrap extension-dashboard-widget-split-compact extension-dashboard-flex-center">
									      <div class="extension-dashboard-flex-center">
									        <strong class="extension-dashboard-widget-temperature-value-container"><span class="extension-dashboard-widget-temperature-needs-update">00</span>°<!--<sup>C</sup>--></strong>
									        <p>Temperature</p>
									      </div>
									      <div class="extension-dashboard-flex-center">
									        <strong class="extension-dashboard-widget-humidity-value-container"><span class="extension-dashboard-widget-humidity-needs-update">00</span>%</strong>
									        <p>Humidity</p>
									      </div>
									    </div>
									</div>
								</div>

					    
							</div>
						</div>
				
						<div style="width:150px" class="extension-dashboard-template-container">
							<div data-template-name="media_player" class="extension-dashboard-template extension-dashboard-widget-media-player">
					          	<div class="extension-dashboard-widget-thrit">
									<div class="extension-dashboard-widget-media-player-controls-container">
										<div class="extension-dashboard-widget-media-player-controls">
											<div>
												<div class="extension-dashboard-widget-media-player-control-previous-button-container">&laquo;</div>
											</div>
											<div>
												<input type="checkbox" name="extension-dashboard-widget-changeme" id="extension-dashboard-widget-changeme" class="extension-dashboard-widget-play_pause_button-needs-update extension-dashboard-hidden-widget-checkbox extension-dashboard-hidden">
												<label for="extension-dashboard-widget-changeme" class="extension-dashboard-flex-center">
													<div class="extension-dashboard-widget-media-player-control">
														<div class="extension-dashboard-widget-media-player-control-play-button-container">
															<span class="extension-dashboard-widget-icon-play-button-container">
																<span class="extension-dashboard-widget-icon-play-button extension-dashboard-widget-icon-play-button-before"></span>
																<span class="extension-dashboard-widget-icon-play-button extension-dashboard-widget-icon-play-button-after"></span>
															</span>
														</div>
													</div>
												</label>
											</div>
											<div>
												<div class="extension-dashboard-widget-media-player-control-next-button-container">&raquo;</div>
											</div>
										 </div>
									</div>
									<div class="extension-dashboard-flex-grow10">
										<div class="extension-dashboard-widget-volume-container">
											<input type="range" class="extension-dashboard-widget-volume-needs-update" step="1" min="0" max="100">
										</div>
									</div>
									<div class="extension-dashboard-widget-media-player-artist-container">
										<div class="extension-dashboard-flex-center">
											<div class="extension-dashboard-widget-icon-disc"></div>
							          		<div class="extension-dashboard-widget-media-player-artist">
							            		<p class="extension-dashboard-widget-song_title-needs-update"></p>
							            		<small class="extension-dashboard-widget-artist-needs-update"></small>
							          		</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			
			
			
						<div style="width:150px" class="extension-dashboard-template-container">
							<div data-template-name="thermostat" class="extension-dashboard-template extension-dashboard-widget-thermostat">
					          	<div class="extension-dashboard-widget-split-compact">
									
									<div class="extension-dashboard-widget-thermostat-setpoint-display extension-dashboard-flex-center">
							        	<strong><span class="extension-dashboard-widget-temperature-value"><span class="extension-dashboard-widget-temperature-needs-update">00,0</span>°</span><span class="extension-dashboard-widget-setpoint-arrow"> ➝ </span><span class="extension-dashboard-widget-setpoint-container"><input type="number" step="0.5" value="20.5" class="extension-dashboard-widget-setpoint-needs-update" /><span class="extension-dashboard-widget-setpoint-degrees">°</span></span></strong>
									</div>
									
									<div class="extension-dashboard-widget-thermostat-setpoint-buttons">
										<div class="extension-dashboard-widget-lower_setpoint-needs-button extension-dashboard-flex-center"> &#10134; </div>
										<div class="extension-dashboard-widget-raise_setpoint-needs-button extension-dashboard-flex-center"> &#10133; </div>
									</div>
									
								</div>
							</div>
						</div>
				
						<div style="width:150px" class="extension-dashboard-template-container">
							<div data-template-name="clock" class="extension-dashboard-template extension-dashboard-widget-clock">
								<div class="extension-dashboard-widget-split">
					                <div class="extension-dashboard-widget-clock-time extension-dashboard-flex-center">00:00</div>
									<div class="extension-dashboard-flex-center">
						                <div class="extension-dashboard-widget-clock-date">
						                    <div class="extension-dashboard-widget-clock-date-day"></div>
						                    <div class="extension-dashboard-widget-clock-date-container">
						                        <span class="extension-dashboard-widget-clock-date-date">0</span>
						                        <span class="extension-dashboard-widget-clock-date-spacer">&nbsp;</span>
						                        <span class="extension-dashboard-widget-clock-date-month">Jan</span>
						                    </div>
						                </div>
									</div>
								</div>
							</div>
						</div>
					
						
					
						<div style="max-width:150px" class="extension-dashboard-template-container">
							<div data-template-name="text" class="extension-dashboard-template extension-dashboard-widget-text">
						        <h2 class="extension-dashboard-widget-large_title-needs-rename">Text + optional link widget</h2>
								<div class="extension-dashboard-widget-link-needs-rename"></div>
								<p class="extension-dashboard-widget-additional_text-needs-rename">Additional optional text</p>
							</div>
						</div>
					
					
					
						
						
					
					
					
				
					</div>
			
					<div id="extension-dashboard-widget-modal-ui-container"></div>
			
				</div>
			
				<div class="extension-dashboard-flex-between extension-dashboard-button-bar">
					<button id="extension-dashboard-widget-modal-cancel-button">Cancel</button>
					<button id="extension-dashboard-widget-modal-save-button">Save</button>
				</div>
			</div>
		</dialog>
		
        <div id="extension-dashboard-main-page">
			
			
			
            <div id="extension-dashboard-main-container">
				<div id="extension-dashboard-tab-menu"></div>
				<div id="extension-dashboard-tabs"></div>
				
				<div id="extension-dashboard-log-tooltip"></div>
				
            </div>
            
			<div id="extension-dashboard-clock-container">
                <div id="extension-dashboard-clock"></div>
                <div id="extension-dashboard-date">
                    <div id="extension-dashboard-date-day"></div>
                    <div id="extension-dashboard-date-container">
                        <span id="extension-dashboard-date-date"></span>
                        <span id="extension-dashboard-date-spacer">&nbsp;</span>
                        <span id="extension-dashboard-date-month"></span>
                    </div>
                </div>
                <div id="extension-dashboard-weather-container">
                    <div id="extension-dashboard-weather-temperature"></div>
                    <div id="extension-dashboard-weather-description"></div>
                </div>
            </div>
            
            
            
            <!--<div id="extension-dashboard-picture-exit-container"><div id="extension-dashboard-picture-exit">Overview</div></div>
			
			<div id="extension-dashboard-next-dashboard-button-container"><button id="extension-dashboard-next-dashboard-button" class="icon-button"></button></div>
			-->
			<div id="extension-dashboard-start-screensaver-button-container"><button id="extension-dashboard-start-screensaver-button" class="icon-button"></button><div id="extension-dashboard-start-screensaver-countdown-indicator"></div></div>
			<div id="extension-dashboard-edit-button-container"><button id="extension-dashboard-edit-button" class="icon-button"></button></div>
			<!--
			<div id="extension-dashboard-print-button-container">
				<button id="extension-dashboard-print-button" class="extension-dashboard-icon-button"></button>
				<div id="extension-dashboard-print-button-confirm-container">
					<button id="extension-dashboard-print-confirm-button" class="extension-dashboard-icon-button"></button>
					<button id="extension-dashboard-print-cancel-button" class="extension-dashboard-icon-button"></button>
				</div>
			</div>
			-->
			<div id="extension-dashboard-voco-container"></div>
			<!--
			<div id="extension-dashboard-selected-dashboard-indicator-container"></div>
			-->
		</div>
		
        
        
		<div id="extension-dashboard-overview" class="extension-dashboard-hidden">
	        <h3>Your icons</h3>
			
	      	<ul id="extension-dashboard-dashboards-list"></ul>
            
					<div>
						<div id="extension-dashboard-dropzone">
							<div>Drop files here to upload</div>
						</div>
					<div>
					<button id="extension-dashboard-add-random-dashboard-button" class="text-button">Add random dashboard</button>
				</div>
	        </div>

	            <input id="extension-dashboard-dashboards-file-selector" accept=".gif,.png,.jpg,.jpeg,.webp,image/gif,image/png,image/jpeg,image/webp" type="file" multiple="multiple"/>
	            <div id="extension-dashboard-dashboards-file-selector-overlay">&nbsp;</div>
	            <!--
	            <button id="extension-dashboard-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
	            -->
        </div>
		
		
		
		
		
        
    </div>
</div>





